# Create the .env File
# WARN:  Do not commit .env file to GitHub

PORT=3000

# ADMIN_PASSWORD: This is the "Master Key" you will use to log in.
ADMIN_PASSWORD=admin123

# SESSION_SECRET: This is used to sign the session ID cookie. Make it complex.
SESSION_SECRET=a_very_long_random_string_you_make_up
