<%- include('../partials/header') %>
    <% if (locals.article) { %>
        <article class="full-post">
            <header>
                <h1><%= article.title %></h1>
                <p class="muted">Published on <%= article.date %></p>
            </header>
            <div class="content">
                <p>This is where the content of the article will go. For now, we are just testing the layout.</p>
            </div>
        </article>
    <% } else { %>
        <h1>Article Not Found</h1>
        <p>Sorry, that post doesn't exist.</p>
    <% } %>
    
    <a href="/">&larr; Back to Home</a>
<%- include('../partials/footer') %>
